
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Globals*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Variables*/

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --default-body-txt: #0C0C0C;
    --light-purple: #F2F0FF;
    --background-grey: #F3F6F9;
    --Grey: #7A7A7A;
}

/*Typography*/

h1, h2, h3, h4, h6 {
    font-family: "Merriweather", serif;
}

h1 {
    color: white;
    font-size: 2.2rem;
    font-weight: 400;
}

h2 {
    color: var(--purple);
    font-size: 1.4rem;
}

h3 {
    font-size: 1.4rem;
}

h5, nav {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.0rem;
}

p, button {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

p, h3, h6 {
    color: var(--default-body-txt);
}

/*Components*/

button {
    height: 42px;
    padding: 0 24px;
    border-radius: 25px;
    border-style: none;
    background-color: var(--pink);
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.secondary-button {
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--purple);
}

/*Page Sections*/

/*--Header--*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
}

.header-outer-wrapper {
    display: flex;
    justify-content: center;
}

.header-inner-wrapper {
    flex-basis: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px;
    gap: 16px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    list-style: none;
    padding: 24px;
    color: white;
}

/*Intro section*/

.intro-section {
    display: flex;
    justify-content: center;
}

.intro-section div {
    flex-basis: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 64px;
}

.intro-section div p {
    padding-top: 32px;
}

/*Work section*/

.work-section {
    background-color: var(--background-grey);
}

.article-1 {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 64px;
}

.article-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 64px;
    padding: 64px;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.portfolio-image {
    flex-basis: 900px;
    flex-grow: 0;
    flex-shrink: 1;
}

.portfolio-image img {
    width: 100%;
}

/*Services section*/

.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
    row-gap: 32px;
    padding: 64px;
}

.services-card {
    border: 1px, solid, var(--purple);
    padding: 32px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.services-content > img {
    height: 42px;
}

.services-content > p {
    font-weight: 300;
}

/*Contact section*/

.contact-outer-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--blue);
}

.contact-inner-wrapper {
    flex-basis: 750px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    padding: 64px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contact-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.8rem;
}

label input, label textarea {
    padding: 12px;
}



/*Media Queries*/


